<%- include('header',{title: 'Việc Cần Làm'}); -%>
<form method="POST">
  <input class="form-control my-sm-2" type="text" name="newtask" placeholder="Điều bạn muốn hoàn thành??" aria-label="Search">
  <button class="btn btn-outline-success my-5 my-sm-1"type="submit">Add</button>
</form>
  <ul>
    <% todos.forEach(function (t) { %>
    <li><%= t.name %>
      <a class="btn btn-success" href="/todos/<%= t.id %>/done" role="button">Đã xong</a>
    </li>
   <% }); %>
  </ul>
  <h2> Đã Làm Xong </h2>
  <ul>
    <% todone.forEach(function (t) { %>
    <li><%= t.name %></li>
   <% }); %>
  </ul>
<%- include('footer'); -%>